.latex-placeholder {
  display: flex;
  align-items: center;
  min-height: 20px;
  padding: 10px;
  font-style: italic;
  color: var(--color-text-placeholder);
  cursor: pointer;
}

.latex-render-error,
.katex-render-error {
  font-weight: 700;
  color: var(--color-error);
}
